# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.prettierrc
.devcontainer
